.items__form {
    display: flex;
    width: 100%;
    flex-direction: column;
    @media screen and (min-width:1200px){
        width: 500px;
    }
    
}

.items__input {
    border: 1px solid #cecece;
    display: block;
    outline: 0;
    margin-bottom: 30px;
    transition: .3s ease-in-out;
    padding: 10px 20px;
    color: #000;
}

.items__info {
    width: 100%;
    @media screen and (min-width:1200px) {
         width: 500px;
    }
}

.items__button {
    padding: 15px 20px;
    color: #fff;
    font-weight: 600;
    transition: .3s ease-in-out;
    cursor: pointer;
    border: none;
    font-size: initial;
    transition: .3s ease-in-out;
    font-size: x-large;
    /* background-color: #93c01f; */
    background: linear-gradient(180deg, #78121c -7.29%, #67382e 130.21%);
}

.items__button:hover {
    background:  rgb(120 18 28);
        transition: color .3s ease;
}